html,
body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

.resume {
    width: 512px;
    height: 707px;
    margin: 10px auto;
    padding-top: 48px;
    padding-bottom: 15px;
    border: 2px solid #e0e0e0;
    background-color: #fff;
}
/* END resume */

.container {
    margin: 0 50px;
    padding: 0 12px;
}

.border {
    border-bottom: 1px solid #000;
}

.student-name {
    margin: 0 0 20px;
    font-size: 22px;
    text-align: center;
}

.student-avatar {
    display: block;
    width: 100px;
    margin: 0 auto;
}

.student-description {
    margin: 10px 0 0;
    font-size: 18px;
}
/* END student */

.study-reason {
    margin: 0;
}

.study-reason-list {
    margin: 0;
    padding: 0 7px;
}

.study-reason-list li {
    margin: 0;
}
/* END study-reason */

.telephone-title {
    margin: 0;
}

.telephone-number {
    margin: 0;
    /*font-size: 17px;*/
}
/* END telephone */

.vk-title {
    margin: 0;
}

.vk-link {
    display: block;
    margin: 0;
    font-size: 17px;
}
/* END vk */

.feedback-title {
    margin: 0;
}

.feedback-text {
    margin: 0;
}
/* END feedback */
