html,
body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

.resume {
    width: 512px;
    height: 707px;
    margin: 10px auto;
    padding-top: 28px;
    padding-bottom: 15px;
    border: 2px solid #e0e0e0;
    background-color: #fff;
}
     /* END main block */

h1 {
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
}

p {
    margin: 21px 8px;
}

ul {
    margin-top: 33px;
    margin-bottom: 11px;
    padding: 0 21px;
}

li {
    margin: 10px;
}

img {
    display: block;
    width: 100px;
    margin: 10px auto;
}

.resume > div {
    margin: 0 50px;
    padding: 5px;
}

.container {
    border-bottom: 1px solid #000;
}

.student {
    margin: 10px 8px 12px;
    font-size: 18px;
}

.indent-num {
    margin: -14px 8px 31px;
    font-size: 17px;
}

.indent-link {
    margin: -12px 8px 15px;
    font-size: 17px;
}

.feedback {
    margin: 21px 8px -12px;
}
